* {
    outline: 1px solid #bbb;
}

.sprite {
    background-image: url(https://cdn-www.rocket.chat/img/sprite@2x.png);
    background-size: 870px 330px;
    width: 100px;
    height: 100px;
    display: inline-block;
}

.img-bme {
    background: #13679a;
}

.section1 {
    background-image: url(./assets/img/bg_launch.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.section1 .navbar-brand{
    background-size: 100% 100%;
    width:100px;

}

.section1 .navbar{
    background:transparent;
}

.section1 
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>.active>a:focus,
{
    color:#FFF;
    
}


.section6 {
    background: #31c685;
}

.section7 {
    background: #333;
}

.section8 {
    background: #222;
}